main {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0px;
    margin-top: .5rem;

}

app-square {
    height: 100px;
}

h1, h2 {
    margin-top: 1rem;
    color: #f2f2f2;
}


button {
    background-color: #404040;
    color: #f54e01;
    border: 1px #f54601 solid;
    padding: .2rem;
}

